@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --input-text: #656565;
    --text: #000000;
    --calc-background: #f0f0f0;
    --backg-btn: #ffffff;
    --clear-background: #5C5C5C;
    --delete-back: #828282;
    --sign-background: #C7EAF5;
    --equal-btn: #04A5FF;
    --clear-btn: #ffffff;
    --border: #dddddd;
}

[data-dark-mode]{
    --input-text: #D8D8D8;
    --border: #5f5f5f;
    --text: #FFFFFF;
    --calc-background: #303030;
    --backg-btn: #464646;
    --clear-background: #C7EAF5;
    --sign-background: #3F5A69;
    --clear-btn: #303030;
}

*{
    margin: 0;
    padding: 0;
    transition: 0.1s
}

body{
    font-family: 'poppins';
    background: var(--backg-btn);
}

.container{
    display: flex;
    height: 100vh;

    .calculator{
        width: 100%;
        max-width: 414px;
        margin: 0 auto;
        position: relative;

        .display{
            padding: 40px;
            .mode{
                padding: 15px 0;
                #mode{
                    cursor: pointer;
                }
            }

            .result{
                margin-top: 2rem;
                text-align: right;
                padding: 2rem 0 10px;
                font-weight: 400;
                // overflow: scroll;

                input{
                    border: none;
                    background: none;
                    text-align: right;
                    width: 100%;
                    pointer-events: none;

                    &:focus, &:active{
                        outline: none;
                    }
                }

                .input-disp{
                    font-size: 56px;
                    transform: translateY(100%);
                    // line-height: 10px;
                    color: var(--text);
                    // white-space: nowrap;
                    // overflow-x: auto;
                    // overflow-x: scroll;
                    // resize: horizontal;
                    transition: 0.2s;
                    transition-timing-function: cubic-bezier(.25,.75,2,1.25);
                    // overflow-y: hidden;
                }

                .input{
                    font-size: 36px;
                    color: var(--input-text);
                    transform: translateX(0%);
                }

                .output-disp{
                    font-size: 56px;
                    color: var(--text);
                    line-height: 4rem;
                    overflow-x: scroll;
                    overflow-y: hidden;
                }

                .output{
                    font-size: 56px;
                    // transform: translateY(100%);
                    color: #656565;
                }

                .in{
                    color: rgb(153, 153, 153);
                }
            }
        }

        .keys{
            padding: 40px;
            max-width: 390px;
            height: 400px;
            background: var(--calc-background);
            display: grid;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            border-radius: 30px 30px 0 0;

            grid-template-rows: repeat(5,1fr);
            grid-template-columns: repeat(4,1fr);

            gap: 15px;

            button{
                border-radius: 20px;
                border: none;
                font-weight: 500;
                font-size: 28px;
                cursor: pointer;
                position: relative;
            }

            .num{
                font-size: 25px;
                color: var(--text);
                background: var(--backg-btn);
            }

            .clear{
                color: var(--clear-btn);
                background: var(--clear-background);
            }

            .sign{
                color: var(--text);
                background: var(--sign-background);
            }

            .delete{
                background: var(--delete-back);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .equal{
                color: var(--backg-btn);
                background: var(--equal-btn);
                grid-row: span 2;
                display: flex;
                justify-content: center;
                align-items: end;
                padding: 0 0 25px;
            }

            .zero{
                grid-column: span 2;
            }
        }
    }
}

// .input-disp::-webkit-scrollbar-track
// {
// 	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	border-radius: 10px;
// 	background-color: rgba(71, 71, 71, 0.26);
// }

// .input-disp::-webkit-scrollbar
// {
// 	width: 0px;
// 	background-color: #F5F5F5;
// }

// .input-disp::-webkit-scrollbar-thumb
// {
// 	border-radius: 10px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// 	background-color: #D62929;
// }


@media screen and (min-width:481px){
    .container{

        height: 100vh;
        align-items: center;


        .calculator{
            .display{
                background: var(--calc-background);
                padding: 40px;
                height: 8rem;
                border: 2px solid var(--border);
                display: flex;
                justify-content: space-between;
                border-radius: 30px;
                // position: relative;
                // align-items: center;

                .mode{
                    padding: 0;
                    display: block;
                }

                .result{
                    margin: 0;
                    padding: 0;
                    align-items: end;
                    justify-content: right;
                    display: inline-block;
                    align-self: flex-end;
                    // position: absolute;
                    // bottom: 0;
                    right: 0;
                    width: 80%;
                    // margin: 0 40px 0 0;
                }
            }

            .keys{
                position: unset;
                border-radius: 30px;
                margin-top: 2em;
                border: 2px solid var(--border);
            }
        }
    }
}

@media screen and (max-width:380px){
    .container{
        .calculator{
            .display{
                .result{
                    margin: 0;
                    padding: 0;
                }
            }
            .keys{
                height: 19rem;
                gap: 15px;

                button{
                    border-radius: 15px;
                    font-size: 25px;
                }

                .delete{
                    img{
                        width: 24px;
                    }
                }

                .equal{
                    padding: 0 0 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .container{
        .calculator{
            transform: scale(0.75);
        }
    }
}

// #type{
//     width: 100%;
//     font-size: 28px;
//     text-align: right;
// }